@using Swoq.Data
@inject ISwoqDatabase Database

<h2>High scores</h2>

<div class="row">
    <table class="table table-striped table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">User</th>
                <th scope="col">Level</th>
                <th scope="col">Length (ticks)</th>
                <th scope="col">Length (seconds)</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var score in Scores)
            {
                <tr>
                    <td>@score.Name @(score.QuestFinished ? "🌟" : "")</td>
                    <td>@score.Level</td>
                    <td>@(score.Level > 0 ? score.QuestLengthTicks : "-")</td>
                    <td>@(score.Level > 0 ? score.QuestLengthSeconds : "-")</td>
                    <td><a href="/api/replays/@score.BestQuestId" download>replay</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {

    [Parameter]
    public IEnumerable<User> Scores { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        var users = await Database.GetAllUsers();

        Scores = users.
            OrderByDescending(s => s.Level).
            ThenBy(s => s.QuestLengthTicks).
            ThenBy(s => s.QuestLengthSeconds).
            ToList();
    }
}
